pre{
    font-size: 1.3em;
}

.cliente{
    display: inline-block;
    font-size: 1em;
    width: 18.5em;
}

#preview{
    border: solid 1px #000000;
    background-color: #a4f771d7;
    padding: 10px;
    right: 1em;
    width: 35%;
    position: absolute;
}
#preview h3{
    font-size: 2em;
    margin: 5px;
}
table {
    font-size: 1.5em;
}
td {
    padding: 0.4em;
}
#preview span{
    font-size: 0.9em;
}

h3{
    margin: 0 5px;
    font-size: 1.5em;
    text-decoration: underline;
}
form{
    margin: 10px 0;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: #a4f771d7;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 60%;
}
form pre{
    margin: 10px 10px;
}

#nacionalidad{
    width: inherit;
}
.cliente input{
    font-size: 1em;
    margin: 10px;
}

#add_reserva{
    margin: 5px;
    
}

form p, form div {
    font-size: 1.4em;
    border: solid 1px #000000;
    border-radius: 10px;
    width: 13em;
    padding: 0.4em;
    margin: 10px 5px;
}
input, select{
    font-size: 0.9em;
    margin: 10px 0;
}
#submit{
    margin: 5px;
    position: relative;
    left: 1%;
    font-size: 2em;
    background-color: #fff;
    transition: background-color 0.5s;
}
#submit:hover{
    background-color: #b9b9b9;
}

.hidden{
    font-size: 1em;
    padding: 0;
    position: relative;
    left: -1000px;
}

.visible{
    font-size: 1em;
    padding: 0;
    border: none;
    position: relative;
    left: 0;
}